@use '../common';
@use '../variables';

.main {
  @include common.flex-col;
  align-items: center;
}

.section {
  width: 500px;
}

.thread-list {
  @include common.flex-col($gap: 10px);
  margin-bottom: 10px;
}

.pagination {
  width: 500px;
  @include common.flex($gap: 5px);
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  font-size: 1rem;
}

.active-page {
  color: variables.$fg-alt;
}

@media screen and (max-width: 600px) {
  .section {
    width: 100%;
    padding: 0 20px;
  }
  .pagination {
    width: auto;
    padding: 0 20px;
  }
}