@use '../common';
@use '../variables';

.pagination {
  @include common.flex(5px);
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
  font-size: 1rem;
}

.active-page {
  color: variables.$fg-alt;
  text-decoration: underline;
}