@use '../variables';

.button {
  background-color: variables.$bg-alt;
  color: variables.$fg;
  padding: 5px;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: lighten(variables.$bg-alt, 5);
  }
}