@use '../variables';
@use '../common';

%inputs-shared {
  border: none;
  background-color: variables.$bg-alt;
  color: variables.$fg;
  padding: 5px;
}

.form {
  @include common.flex-col($gap: 10px);
  margin-bottom: 30px;
}

.label {
  align-self: flex-start;
  margin-bottom: 5px;
}

.error {
  color: variables.$error-fg;
}

.input-group {
  @include common.flex-col;
}

.btn-group {
  @include common.flex($gap: 20px);
  align-items: center;
  justify-content: space-between;
}

.hide-form-btn {
  align-self: center;
}

.name {
  @extend %inputs-shared;
}

.message {
  @extend %inputs-shared;
  resize: none;
  height: 100px;
}