@use '../variables';
@use '../common';

.modal {
  width: min(100%, 230px);
  padding: 10px;
  background-color: darken(variables.$bg-alt, 20);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(variables.$bg, .5);
  position: fixed;
  top: 0;
  left: 0;
  @include common.flex;
  justify-content: center;
  align-items: center;
}

.heading {
  color: variables.$fg-alt;
  font-size: 1.5rem;
  text-align: center;
}

.button-group {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
}