@use '../common';
@use '../variables';

.message-list {
  @include common.flex-col(10px);
  margin-bottom: 30px;
}

.thread-list {
  @include common.flex-col(10px);
}

.board-list {
  @include common.flex-col(15px);
  overflow-wrap: anywhere;
}

.board-list-heading {
  margin-bottom: 20px;
  color: variables.$fg-alt;
}