@use '../common';
@use '../variables';

.message-list-item {
  padding: 20px;
  background-color: lighten(variables.$bg, 3);
}

.message-header {
  @include common.flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: darken(variables.$fg, 10);
}

.message-text {
  overflow-wrap: anywhere;
}