@use '../common';
@use '../variables';

.thread-list-item {
  padding: 10px;
  border: 1px solid;
  &:hover {
    cursor: pointer;
    background-color: lighten($color: variables.$bg, $amount: 5);
  }
}

.header {
  @include common.flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 5px;
}

.heading {
  color: variables.$fg-alt;
}

.first-message {
  overflow-wrap: anywhere;
}